<form action="/prehistoric_creatures/<%= creatureIdx %>/?_method=PUT" method="POST">
    <label for="creatureType">Name</label>
    <input type="text" name="type" id="creatureType" placeholder="<%= myCreature.type %>">

    <label for="creatureImage">Image URL</label>
    <input type="url" name="img_url" id="creatureImage" placeholder="<%= myCreature.name %>">

    <input type="submit" value="Update dino">
</form>