<form action="/prehistoric_creatures" method="post">
    <label for="creatureType">Type</label>
    <input id="creatureType" type="text" name="type">

    <label for="creatureImage">Image URL</label>
    <input id="creatureImage" type="url" name="img_url">
    <input type="submit" value="Add a creature">
</form>